<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir={{ .Site.Language.LanguageDirection }}>

<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>

<body>
  <div class="tete">
    {{ partial "docs/inject/tete" . }}
  </div>

  <input type="checkbox" class="hidden" id="menu-control" />
  <main class="container flex">
    <aside class="book-menu">
      {{ template "menu" . }} <!-- Left menu Content -->
    </aside>

    <div class="book-page">
      {{ partial "docs/inject/content-before" . }}
      {{ template "main" . }} <!-- Page Content -->
      {{ partial "docs/inject/content-after" . }}
      <label for="menu-control" class="hidden book-menu-overlay"></label>
    </div>

    {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
    <aside class="book-toc">{{ template "toc" . }}</aside>
    {{ end }}
  </main>
  <div class="pied">{{ partial "docs/inject/pied" . }}</div>

</body>

</html>

{{ define "menu" }}
  {{ partial "docs/menu" . }}
{{ end }}

{{ define "header" }}
  {{ partial "docs/header" . }}

  {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}<input type="checkbox" class="hidden" id="toc-control" /><aside class="hidden clearfix">{{ template "toc" . }}</aside>{{ end }}{{ end }}

{{ define "footer" }}{{ partial "docs/footer" . }}{{ end }}

{{ define "comments" }}{{ if and .Content (default true (default .Site.Params.BookComments .Params.BookComments)) }}<div class="book-comments">{{- partial "docs/comments" . -}}</div>{{ end }}{{ end }}

{{ define "main" }}<article class="markdown">
{{- .Content -}}</article>{{ end }}

{{ define "toc" }}{{ partial "docs/toc" . }}{{ end }}
