/* You can add custom styles here. */

// @import "plugins/numbered";

body{
  background-image: url(img/bg.png);
  background-repeat: repeat;
  font-variant-ligatures: normal;
}

.book-page{
  padding: $padding-16 * 3 $padding-16 * 2 $padding-16 * 4 $padding-16 * 2;
}

.book-toc nav{top: $padding-4 * 9; padding: 0 1rem;}

.book-menu nav {
  padding: 0 1rem;
  margin: $padding-16 * 2 0;
  background-image: url(img/bg.png);
  background-position: center;
  border-right: 1px solid rgba($black, 0.1);

  a.collapsed::after {
      content: "▾";
      padding-right: $padding-8;
  }
}

.book-section-flat:not(:first-child) {
    margin-top: $padding-16;
}
li.book-section-flat{
  list-style: none;
  margin-left: -$padding-16;
  margin-bottom: $padding-16;
  >a{font-weight: normal;}
}

.tete{
  width:100%;
  position:fixed;
  top:0;
  height:$padding-16 * 2;
  border-bottom: 1px solid rgba($black, 0.1);
  background-image: url(img/bg.png);
  z-index: 99999;

    a {color: $gray-700}
    .book-brand{position: fixed; text-align: left; padding-left: $padding-16}
    .title{text-align:center;}
    h3{
      font-size: $padding-9;
      padding: $padding-8 0;
      margin: 0;
    }
    .logo{display: none;}
    .book-search {
      position: fixed;
      margin-top: 0.5em;
      top: 0;
      right: $padding-16;
      font-size: $padding-9;

      input {
        min-width: $padding-16 * 8;
        padding: 0 $padding-8;
        border: 0;
        border-radius: $border-radius;
        background: $gray-200;
        color: $body-font-color;
        &:required + .book-search-spinner {
          display: block;
        }
      }
      ul{
        background-image: url(img/bg.png);
        list-style: none;
        padding-left: 0;
      }
    }
  .book-icon{
    position: fixed;
    right: $padding-16;
    top: 0.25em;
    display: none;
  }
}

.pied{
  width:100%;
  position:fixed;
  bottom:0;
  height:$padding-16 * 2;
  font-size: $padding-9;
  padding: $padding-8;
  border-top: 1px solid rgba($black, 0.1);
  text-align:center;
  background-image: url(img/bg.png);

    a {color: $gray-700}
}

aside nav ol {
  padding: 0;
  margin: 0;
  list-style: decimal;
  padding-left: $padding-16;

    li {
      margin: 1em 0;
      position: relative;
    }

    li>ol{padding-left: $padding-16;}

    a {display: block;}

    a:hover {
      color: $color-link-hover;
      opacity: 1;
          -webkit-transition: all 0.5s ease-out;
          -moz-transition: all 0.5s ease-out;
          -ms-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
    }
    ol {
      padding-inline-start: 0;
      list-style: none;
    }
}

aside nav ul {
  padding: 0;
  margin: 0;
  list-style: none;

    li {
      margin: 1em 0;
      position: relative;
    }

    li>ul{padding-left: $padding-16;}

    a {display: block;}

    a:hover {
      color: $color-link-hover;
      opacity: 1;
          -webkit-transition: all 0.5s ease-out;
          -moz-transition: all 0.5s ease-out;
          -ms-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
    }
    ul {
      padding-inline-start: 0;
      list-style: none;
    }
}

.book-menu a.active {
    color: $blue;
    font-weight: 500;
}

.markdown{

  :first-child {
      margin-top: 0em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: $title-font-weight;
    line-height: 1.6em;
    margin-top: $padding-16 * 2;
    margin-bottom: $padding-16;
  }

  h1{font-size: $padding-16 * 1.75;}
  h2{font-size: $padding-16 * 1.33;padding-left: $padding-16}
  h3{font-size: $padding-16 * 1; padding-left: $padding-8 * 3}
  h4{font-size: $padding-9; padding-left: $padding-16}

  #cave-canem{margin-top:-$padding-4}
  #synthèse-pour-contrer-la-surveillance-de-masse-et-améliorer-la-protection-numérique-de-sa-vie-privée{padding-left: 0;margin-top:$padding-8}

  h1+hr{margin-top: -$padding-4 * 3}

  p+hr{margin-top: 0}

  p+h2,p+h3{
    margin-top: $padding-16 * 2;
  }

  //h1{font-size: $font-size-base * 3;}
  //h2{font-size: $font-size-base * 2.5;}
  //h3{font-size: $font-size-base * 2;}

  a {
    text-decoration: none;

    &:hover,
    &:focus,
    &:focus-within {
      color: $color-link-hover;
      background-color: $color-link-hover-background;
      text-decoration: underline;
          -webkit-transition: all 0.5s ease-out;
          -moz-transition: all 0.5s ease-out;
          -ms-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
    }
  }

  b, optgroup, strong {font-weight: 500}

  hr {
    height: $padding-1;
    border: none;
    margin-top: -$padding-8;
    margin-bottom: $padding-8;
    background:rgba($black, 0.1);
  }

  .list{
    border: 1px solid rgba($bleu, 0.5);
    border-radius: $border-radius;
    margin-bottom: $padding-16;
    background-color: rgba($bleu, 0.4);
    padding: 0 $padding-16;

    h4{padding-top: $padding-8;}
    p{font-size: $padding-9; line-height: 1.2rem; margin-top:-$padding-8; margin-bottom: 0; padding:$padding-8;}
    p+h4{padding-top: $padding-8 * 3;margin-top: 0}
  }

  .block ul, blockquote ul{padding-inline-start: $padding-16}

  ul>li{
    margin: $padding-8 0;
    list-style: none;
      &:before {
      content: "⟡";
      padding-right: $padding-4;
      margin-left: -$padding-16;
    }
  }

  ol>li{
    margin: $padding-8 0;
  }

  ul, ol{

    &:first-child{
      margin-top: $padding-8;
    }
  }

  code {
    padding: 0 $padding-4;
    background-color: $white;
  }

  dl {
    dt {
      font-weight: bolder;
      margin-top: $padding-16;
    }

    dd {
        margin-inline-start: 0;
        padding-top: $padding-16;
        margin-bottom: $padding-16;
    }
  }

  // {{< tabs >}}
  .book-tabs {
    margin-top: $padding-16*2;
    margin-bottom: $padding-16;

    border: none;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;

    label {
      display: inline-block;
      margin-right: $padding-8;
      padding: $padding-8 $padding-16;
      border: $padding-1 solid rgba($black, 0.2);
      border-radius: $border-radius;
      cursor: pointer;
      margin-bottom: $padding-8;

      &:hover {
        text-decoration: none;
        color: $black;
        background-color: $button-background-color;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
      }
    }

    .book-tabs-content {
      order: 999; //Move content blocks to the end
      width: 100%;
      padding-top: $padding-4 * 5;
      display: none;
    }

    input[type="radio"]:checked + label {
      color: $white;
      background-color: $gray-800;
    }
    input[type="radio"]:checked + label + .book-tabs-content {
      display: block;
    }

    div.block:first-child{margin-top: 0;}
  }



  .book-columns>div>h3{padding-left: 0;text-align: center;}

  .indent{padding-left: $padding-16*3;}

  // {{< button >}}
  a.book-btn {
    display: inline-block;
    font-size: $font-size-14;
    color: $button-font-color;
    line-height: $padding-16 * 2;
    padding: $padding-4 $padding-16;
    border: $padding-1 solid rgba($black, 0.1);
    border-radius: $border-radius;
    cursor: pointer;
    margin: $padding-4 0;

    &:hover {
      text-decoration: none;
      color: $black;
      background-color: $button-background-color;
    }
    &.prev{float: left;}
    &.next{float: right;}
  }



  div.block {
    margin: $padding-16 * 2 0;
    padding: $padding-8 $padding-16 ; //to keep total left space 16dp

    border: $padding-1 solid rgba($gray-200, 0.5);
    border-radius: $border-radius;

    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }
    h3{padding-top: $padding-4;}
  }

  .block{
    @each $name, $color in $hint-colors {
      &.#{$name} {
        border-color: $color;
        background-color: rgba($color, 0.4);
      }
    }
  }

  blockquote {
    margin: $padding-16 0;
    padding: $padding-8 $padding-16;

    border: $padding-1 solid rgba($gray-300, 0.5);
    border-radius: $border-radius;

    border-left: 1px solid $body-font-color;
    background-color: rgba($gray-300, 0.2);

    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }
  }

  .book-hint {
    @each $name, $color in $hint-colors {
      &.#{$name} {
        border-color: rgba($color, 0.5);
        background-color: rgba($color, 0.2);
      }
    }
  }
  .book-hint li{
    margin: $padding-8 0;
  }
}

// Screens Queries
@media screen and (max-width: $mobile-breakpoint){
  .pied{
      .book-icon{
        display: block;
      }
  }
  .tete{
      .book-icon{
        display: block;
      }
      .sitetitle{
        display: none;
      }
      .logo{display: block;margin-top: -$padding-4}
  }
}

// Flags


.flag-icon, .flag-icon-background {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}
.flag-icon {
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}
.flag-icon, .flag-icon-background {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%
}
.flag-icon:before {content: "\00a0"}
.flag-icon-ag {background-image: url("img/flags/ag.svg")}
.flag-icon-au {background-image: url("img/flags/au.svg")}
.flag-icon-be {background-image: url("img/flags/be.svg")}
.flag-icon-ca {background-image: url("img/flags/ca.svg")}
.flag-icon-ch {background-image: url("img/flags/ch.svg")}
.flag-icon-cz {background-image: url("img/flags/cz.svg")}
.flag-icon-de {background-image: url("img/flags/de.svg")}
.flag-icon-dk {background-image: url("img/flags/dk.svg")}
.flag-icon-ee {background-image: url("img/flags/ee.svg")}
.flag-icon-es {background-image: url("img/flags/es.svg")}
.flag-icon-fi {background-image: url("img/flags/fi.svg")}
.flag-icon-fr {background-image: url("img/flags/fr.svg")}
.flag-icon-gb {background-image: url("img/flags/gb.svg")}
.flag-icon-ie {background-image: url("img/flags/ie.svg")}
.flag-icon-in {background-image: url("img/flags/in.svg")}
.flag-icon-is {background-image: url("img/flags/is.svg")}
.flag-icon-it {background-image: url("img/flags/it.svg")}
.flag-icon-nl {background-image: url("img/flags/nl.svg")}
.flag-icon-no {background-image: url("img/flags/no.svg")}
.flag-icon-nz {background-image: url("img/flags/nz.svg")}
.flag-icon-pl {background-image: url("img/flags/pl.svg")}
.flag-icon-ru {background-image: url("img/flags/ru.svg")}
.flag-icon-se {background-image: url("img/flags/se.svg")}
.flag-icon-us {background-image: url("img/flags/us.svg")}
.flag-icon-za {background-image: url("img/flags/za.svg")}
