// Used in layout
$padding-1: 1px !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-9: 0.875rem;
$padding-16: 1rem !default;

$font-size-base: 16px !default;
$font-size-12: 0.75rem !default;
$font-size-14: 0.875rem !default;
$font-size-16: 1rem !default;

$border-radius: $padding-8 !default;

// Grayscale
$white: #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$jaune: goldenrod;
$rouge:indianred;
$vert:#C3DED3;
$bleu:#d8dee9;
$blue: royalblue;
$principale: #F5EFE6;

.rouge{color:#c0392b;}
.orange{color:#e67e22;}
.vert{color:#27ae60;}
.gris{color: slategrey;font-size: 0.825em;}

$color-link: $blue !default;
$color-link-hover: $black;
$color-link-hover-background: $white;
$color-visited-link: $blue !default;

$button-font-color:$gray-800;
$button-background-color: rgba(gainsboro, 0.4);;

$body-background: $white !default;
$body-article:#F5EFE6;
$body-font-color: $gray-800 !default;
$body-font-weight: 400 !default;
$title-font-weight: 500 !default;

$body-min-width: 20rem !default;
$container-max-width: 80rem !default;

$header-height: 3.5rem !default;
$menu-width: 16rem !default;
$toc-width: 16rem !default;

$mobile-breakpoint: $menu-width + $body-min-width * 1.2 + $toc-width !default;

// Hint colors
$hint-colors: (
  article: $principale,
  info: $bleu,
  sain: $vert,
  warning: $jaune,
  danger: $rouge,
  cite: whitesmoke,
) !default;

$icon-filter: none !default;
