//Hepta Slab

@font-face {
  font-family: 'HeptaSlab-SemiBold';
  src: url("fonts/hepta-slab/HeptaSlab-SemiBold.eot");
  src: local("HeptaSlab-SemiBold"),
      url("fonts/hepta-slab/HeptaSlab-SemiBold.eot?#iefix") format("embedded-opentype"),
      url("fonts/hepta-slab/HeptaSlab-SemiBold.woff") format("woff"),
      url("fonts/hepta-slab/HeptaSlab-SemiBold.ttf")  format("truetype"),
      url("fonts/hepta-slab/HeptaSlab-SemiBold.svg#HeptaSlab-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

// Fira Sans
@font-face{
    font-family: 'Fira Sans';
    src: url("fonts/fira/eot/FiraSans-Regular.eot");
    src: local("Fira Sans Regular"),
         url("fonts/fira/eot/FiraSans-Regular.eot") format("embedded-opentype"),
         url("fonts/fira/woff/FiraSans-Regular.woff") format("woff"),
         url("fonts/fira/ttf/FiraSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("fonts/fira/eot/FiraSans-Italic.eot");
    src: local("Fira Sans Regular Italic"),
         url("fonts/fira/eot/FiraSans-Italic.eot") format("embedded-opentype"),
         url("fonts/fira/woff/FiraSans-Italic.woff") format("woff"),
         url("fonts/fira/ttf/FiraSans-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("fonts/fira/eot/FiraSans-Medium.eot");
    src: local("Fira Sans Medium"),
         url("fonts/fira/eot/FiraSans-Medium.eot") format("embedded-opentype"),
         url("fonts/fira/woff/FiraSans-Medium.woff") format("woff"),
         url("fonts/fira/ttf/FiraSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("fonts/fira/eot/FiraSans-MediumItalic.eot");
    src: local("Fira Sans Medium Italic"),
         url("fonts/fira/eot/FiraSans-MediumItalic.eot") format("embedded-opentype"),
         url("fonts/fira/woff/FiraSans-MediumItalic.woff") format("woff"),
         url("fonts/fira/ttf/FiraSans-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("fonts/fira/eot/FiraSans-Bold.eot");
    src: local("Fira Sans Bold"),
         url("fonts/fira/eot/FiraSans-Bold.eot") format("embedded-opentype"),
         url("fonts/fira/woff/FiraSans-Bold.woff") format("woff"),
         url("fonts/fira/ttf/FiraSans-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url("fonts/fira/eot/FiraSans-BoldItalic.eot");
    src: local("Fira Sans Bold Italic"),
         url("fonts/fira/eot/FiraSans-BoldItalic.eot") format("embedded-opentype"),
         url("fonts/fira/woff/FiraSans-BoldItalic.woff") format("woff"),
         url("fonts/fira/ttf/FiraSans-BoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

// Fira Mono

@font-face{
    font-family: 'Fira Mono';
    src: url("fonts/fira/eot/FiraMono-Regular.eot");
    src: local("Fira Mono"),
         url("fonts/fira/eot/FiraMono-Regular.eot") format("embedded-opentype"),
         url("fonts/fira/woff/FiraMono-Regular.woff") format("woff"),
         url("fonts/fira/ttf/FiraMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: url("fonts/fira/eot/FiraMono-Bold.eot");
    src: local("Fira Mono Bold"),
         url("fonts/fira/eot/FiraMono-Bold.eot") format("embedded-opentype"),
         url("fonts/fira/woff/FiraMono-Bold.woff") format("woff"),
         url("fonts/fira/ttf/FiraMono-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'HeptaSlab-SemiBold', Verdana, sans-serif;
}

code {
  font-family: 'Fira Mono', monospace;
}
