<h3 class="book-brand">{{ partial "docs/brand" . }}</h3>
<h3 class="title">{{ partial "docs/title" . }}</h3>
<!---{{ partial "docs/search" . }}--->

<label for="toc-control">
  {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
  <img src="{{ "svg/toc.svg" | relURL }}" class="book-icon" alt="Table of Contents" />
  {{ end }}
</label>

<label for="menu-control">
  <img src="{{ "svg/menu.svg" | relURL }}" class="book-icon" alt="Menu" />
</label>
