  <a href="{{ .Site.BaseURL | relLangURL }}">
    {{- with .Site.Params.BookLogo -}}
    <img class="logo" src="{{ . | relURL }}" alt="Logo" />
    {{- end -}}
    <span class="sitetitle">{{ .Site.Title }}</span>
  </a>
