<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ default .Description }}">
<meta name="keywords" content="vie privée, confidentialité, protection, numérique, internet, open source, alternative, cave canem">
<meta name="theme-color" content="#FFFFFF">
<meta name="publisher" content="Cave Canem" />
{{- template "_internal/opengraph.html" . -}}

<title>{{ partial "docs/title" . }} | {{ .Site.Title -}}</title>

{{- $manifest := resources.Get "manifest.json" | resources.ExecuteAsTemplate "manifest.json" . }}
<link rel="manifest" href="{{ $manifest.RelPermalink }}">
<link rel="icon" href="{{ "favicon.svg" | relURL }}" sizes="any" type="image/svg+xml">
<link rel="icon" href="{{ "favicon-16x16.png" | relURL }}" sizes="16x16" type="image/x-icon">
<link rel="icon" href="{{ "favicon-32x32.png" | relURL }}" sizes="32x32" type="image/x-icon">
<link rel="icon" href="{{ "favicon-96x96.png" | relURL }}" sizes="96x96" type="image/x-icon">

{{- range .Translations }}
<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ partial "docs/title" . }}">
{{ end -}}

<!-- Theme stylesheet, you can customize scss by creating `assets/custom.scss` in your website -->
{{- $styles := resources.Get "book.scss" | resources.ExecuteAsTemplate "book.scss" . | resources.ToCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">

{{- if default true .Site.Params.BookSearch }}
{{- $searchJSFile := printf "%s.search.js" .Language.Lang }}
{{- $searchJS := resources.Get "search.js" | resources.ExecuteAsTemplate $searchJSFile . | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $searchJS.RelPermalink }}" integrity="{{ $searchJS.Data.Integrity }}"></script>
{{ end -}}

{{- if .Site.Params.BookServiceWorker }}
{{- $swJS := resources.Get "sw-register.js" | resources.ExecuteAsTemplate "sw.js" . | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $swJS.RelPermalink }}" integrity="{{ $swJS.Data.Integrity }}"></script>
{{ end -}}

{{- template "_internal/google_analytics_async.html" . -}}

<!-- RSS -->
{{- with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
