<nav>{{ if .Site.Params.BookMenuBundle }}{{ partial "docs/menu-bundle" . }}{{ else }}{{ partial "docs/menu-filetree" . }}{{ end }}{{ partial "docs/menu-hugo" .Site.Menus.after }}</nav>
<!-- Restore menu position as soon as possible to avoid flickering -->
{{ $script := resources.Get "menu-reset.js" | resources.Minify }}
{{ with $script.Content }}
  <script>{{ . | safeJS }}</script>
{{ end }}
