<a href="https://creativecommons.org/licenses/" target="_blank" rel="noreferrer"><img src="img/chooser_cc.png" alt="Crezative Commons" title="Creative Commons Licenses website" width="30px"></a>
<img src="img/chooser_by.png" alt="Attribution" title="Attribution. All the texts, works, images, videos, fonts, codes on this website are plenty own by their authors under the license they have chosen." width="30px">
<img src="img/chooser_nc.png" alt="NonCommercial" title="NonCommercial. The licensor permits others to copy, distribute and transmit the work. In return, licensees may not use the work for commercial purposes — unless they get the licensor's permission." width="30px">
<img src="img/chooser_sa.png" alt="Share Alike" title="Share Alike. The licensor permits others to distribute derivative works only under the same license or one compatible with the one that governs the licensor's work." width="30px">
