<dl>
  {{ range .Page.Pages }}
    <div class="block info">
      <dt>
        <h3><a href="{{ .RelPermalink }}">{{ partial "docs/title" . }}</a></h3><hr>
      </dt>
      <dd>
        {{ default .Summary .Description }}
      </dd>
      <a href="{{ .RelPermalink }}">> Lire</a>
    </div>
{{ end }}
</dl>
